
@media(max-width:1200px){
  #headingGroup h2{
  color: white;
  font-weight: 100;
  font-size: 3rem;
}

}
.content{
  margin: auto;

}

#headingMilk h2{
  font-weight: 500;
  color: #692ebd;
  font-family: manifold cf demi bold;
  margin-bottom: 0px;
}
#headingMilk h6{
  font-weight: 200;
  font-family: roboto;
  color: #c3abe4;
}

#headingMilk p{
  font-family: roboto;
  color: #000000;
  font-size: 1.125rem;
  line-height:1.125;

}
#description
{
  margin-bottom:120px ;
}

#bottomDiv p{
  color: #c7bfd6;
  font-family: roboto;
}

#bottomDiv i{
  color: #692ebd;
}

.cu{
  background-color:#692ebd;
}