<h1>Hey, You are on Embedded Javascript</h1>

 <% if(thingVar === "ice-cream") { %>
	<p>Milano ice-cream is delicious</p>

<% } else { %>
	<p>You Should have said Ice-cream, because Milano gelato is the best<p>

 <% } %>
