<link rel="stylesheet" href="app.css">


<h1> <center> This is inside the posts page </center> </h1>

<% for(var i = 0 ; i< posts.length; i++){ %>
	<li><%= posts[i].name%> - <%= posts[i].lastname%></li> 
<% } %>
