/*Search container css*/
#searchContainer{
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
}

#searchContainer input{
  width: 200px;
}

#searchContainer button{
  background-color: rgb(1,159,198);
  width: 75px;
}

#searchContainer input,button:focus{
  background-color: #fff;
  border:2px solid #2980b9;
  outline: none;
}

.searchControl{
  box-shadow: 2px 2px 3px black;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
/*Search container css ends*/
#container{
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	width:300px;
	background-color: #f7f7f7 ;
	margin: 100px auto;
	border-radius: 10%;
	position: relative;
  visibility: hidden;
}
#attributes .col{
	padding: 10px;
}
#attributes i{
	margin-right: 10px;
	margin-left: 20px;
	padding: 5px;
	height: 8px;
	width: 18px;
}
#attributes .text{
  margin: 0px;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  font-size: 9px;
  }

#attributes .cust-margin{
	margin:0px;
	font-family: "Nunito", sans-serif;
	font-size: 10px;
}

img {
  border-radius: 10%;
  width: 100%;
  height: 100%;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}
.row #top-left {
  position: absolute;
  top: 30px;
  left: 25px;
  color:white;
  font-family: "Nunito", sans-serif;
}

.row #top-right {
  position: absolute;
  top: 30px;
  right: 25px;
  font-size: 18px;
}

.row #name{
  font-size: 40px;
  margin: 0px 0px 0px;
  line-height:35px;
}

.row #country{
  font-size: 15px;
  margin: 0px 0px 0px;
  padding-bottom: 2px;
  font-weight: 10px; 
}
.row #dayDate{
  font-size: 10px;
  margin: 0px 0px 0px;
}

#weatherDescHeader{
  float:left; 
  clear: both;
} 

.row #weatherMain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  font-family: "Nunito", sans-serif;
  margin: 0px auto;
  font-size: 20px;
}
#weatherMain i{
  opacity: 0.9;
  font-size: 90px; 
}
#weatherMain div{
  display: inline-block;
}
#tempMain{
  font-size:50px ;
  font-weight: bold;
}
canvas{
  font-family: "Nunito", sans-serif;
  padding: 15px;
}
.imgContainer{
  position: relative;
  color: white;
}
.collapse h4{
  padding-left:30px;
  font-family: "Nunito", sans-serif;
  font-size:20px;
  font-weight: bold; 
}